#overall-container{
    width: 100%;
    justify-content: stretch;
    margin: auto;
    display: grid;
    grid-template: 75px 150px 125px 125px 250px 250px 80px / 1fr 1fr
}

.a, .b, .c, .d, .i {
    grid-column: 1 / -1;
}

@media (min-width: 500px){
    .a{
        background-color: green;
    }
    .b{
        background-color: blue;
    }
    .c, .d{
        background-color: greenyellow;
    }

    .e, .f, .g, .h{
        background-color: hotpink;
    }

    .i {
        background-color: lavender;
    }
} 

@media (min-width: 960px){
    div{
        background-color: gray !important;
    }

    #overall-container{
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        grid-template: 100px 200px 250px 150px / 200px repeat(4, 1fr)  
    }

    .a{
        grid-column: 1 / -1;
    }

    .b{
        grid-column: 1 / 2;
        grid-row: 2 / -1;
    }

    .c{
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }

    .d{
        grid-column: 4 / -1;
        grid-row: 2 / 3;
    }

    .i{
        grid-column: 2 / -1;
        grid-row: -2 / -1;
    }
}