body {
    width: 480px;
    margin: auto;
    display: grid;
    grid-template: 75px 150px 125px 125px 250px 250px 80px / 1fr 1fr
}

.a, .b, .c, .d, .i {
    grid-column: 1 / -1;
}

@media (min-width: 960px){


    main:after{
        content: "";
        display: table;
        clear: both;
    }

    body {
        width: 960px;
        margin: auto;
    }
    aside{
        width: 200px;
        float: left;
    }

    aside div{
        border-width: 0 !important;
    }

    .large-container{
        width: 760px;
        float: right;
    }

}